html {
  background: #222;
  font-family: lores-21-serif, sans-serif;
}

h1 {
  text-align: center;
  color: #222;
}

form {
  position: absolute;
  left: calc(50% - 30vw);
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  background: #FFF;
  border-radius: 10px;
  width: 50vw;
  padding: 5%;
}

form > div {
  display: inline-block;
}

label {
  font-size: 1.5rem;
}

button {
  border-radius: 10px;
  background: #222;
  color: #FFF;
  padding: 5%;
  font-size: 2rem;
  font-family: lores-21-serif, sans-serif;
  cursor: pointer;
  border: none;
}

button:hover{
  background: red;
}

#tag {
  top: 0;
  right: 0;
  position: fixed;
  font-size: 1rem;
  color: white;
  padding: 1%;
}

#currentStatus {
  font-size: 2rem;
  display: block;
  margin-bottom: 1%;
}

#statusText {
  width: 100%;
  border: 0;
  border-bottom: 1px #222 dashed;
  margin-bottom: 2%;
  font-size: 2rem;
  font-family: lores-21-serif, sans-serif;
  
}

.network-id {
  color: yellow;
}
