form {
  position: absolute;
  left: calc(50% - 25vw);
  top: 50%;
  transform: translateY(-50%);
  width: 50vw;
}

form > div {
  display: inline-block;
}

button {
  border-radius: 10px;
  background: #222;
  color: #FFF;
}
