html {
  background: #222;
  font-family: lores-21-serif, sans-serif;
}

h1 {
  text-align: center;
  color: #222;
}

form {
  position: absolute;
  left: 25vw;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  background: #FFF;
  border-radius: 10px;
  padding: 5%;
}

form > div {
  display: inline-block;
}

button {
  border-radius: 10px;
  background: #222;
  color: #FFF;
}

#currentStatus {
  font-size: 2rem;
  display: block;
  margin-bottom: 1%;
}
